#!/usr/bin/env bash -xu

export BBL_IAAS=gcp
export BBL_GCP_REGION=us-west1
export BBL_STATE_DIR=installations/bbl
export BBL_STATE_DIRECTORY=installations/bbl

set +x
ls $BBL_STATE_DIR 2>/dev/null && eval "$(bbl print-env)"
