#!/usr/bin/env bash -xu

export BBL_IAAS=gcp
export BBL_GCP_REGION=us-central1
export BBL_STATE_DIR=$PWD/installations/bbl
export BBL_STATE_DIRECTORY=$PWD/installations/bbl
export REPO_ROOT=$PWD

set +x
eval "$(bbl print-env)"
